footer  {
    height: 70px;
    width: 100%;
    background-color: black;
    margin-top: 4%;
}

#footerContainer    {
    color: white;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
}

@media (max-width: 858px){
    #footerContainer    {
        color: white;
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
        text-align: center;
        padding-top: 30px;
    }
}